# Dependencies
**/node_modules

# Environment variables
**/.env

# Build outputs
**/dist
**/build

# Vercel
.vercel

# Ignore plain text files
*.txt

# Ignore markdown files
*.md
*.markdown

# Ignore SQL files
*.sql